/*
Syntax error: Invalid CSS after "...era, Safari 5.1": expected "}", was ""
        on line 102 of sass/preprocess/_mixins.scss
        from line 21 of sass/styles.scss

97: 
98: // Box Sizing
99: @mixin box-sizing($type:border-box) {
100: 	-webkit-box-sizing: $type; // Android < 2.3, iOS < 4
101: 	-moz-box-sizing: $type; // Firefox < 29
102: 	box-sizing: $type; // Chrome, IE 8+, Opera, Safari 5.1

Backtrace:
sass/preprocess/_mixins.scss:102
sass/styles.scss:21
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:1312:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:1248:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:1243:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:642:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:233:in `mixin_directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:221:in `special_directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:193:in `directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:659:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:652:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:116:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/engine.rb:409:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/engine.rb:305:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/engine.rb:371:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/engine.rb:291:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:412:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.4/lib/listen/listener.rb:149:in `call'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.4/lib/listen/listener.rb:149:in `block in _wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.4/lib/listen/listener.rb:138:in `loop'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.4/lib/listen/listener.rb:138:in `_wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.4/lib/listen/listener.rb:42:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...era, Safari 5.1\": expected \"}\", was \"\"\A         on line 102 of sass/preprocess/_mixins.scss\A         from line 21 of sass/styles.scss\A \A 97: \A 98: // Box Sizing\A 99: @mixin box-sizing($type:border-box) {\A 100: 	-webkit-box-sizing: $type; // Android < 2.3, iOS < 4\A 101: 	-moz-box-sizing: $type; // Firefox < 29\A 102: 	box-sizing: $type; // Chrome, IE 8+, Opera, Safari 5.1"; }
