// @file global override styles

/**
 * Root Elements
 */

/* A slightly better box sizing method
 * @see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
	@include box-sizing();
}

*, *:before, *:after {
	box-sizing: inherit;
}

html,
body {
	font-size: $base-font-size;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	height: 100%;
}

/**
 * Header Elements
 */

/**
 * Footer Elements
 */