// @file typography Styles

h1, h2, h3, h4, h5, h6 {}

h1,
h1 a {
	font-size: 2.6rem;
	&.site-title {
		a {

		}
	}
	&.entry-title {
		a {

		}
	}
	&.widget-title {

	}
}

h2 {
	font-size: 2.4rem;
	&.comments-title {

	}
}

h3 {
	font-size: 2.2rem;
	&.reply-title {

	}
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}

p {

	.entry-summary & {

	}
	.entry-content & {

	}
}